.App {
  margin: 20px 50px;
  box-shadow: 2px 2px 4px rgb(230, 200, 144);
  padding: 20px;
  border-radius: 10px;
}
.weather-report {
  display: flex;
  justify-content: space-between;
  .left {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
}
.temp {
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
  h2 {
    margin: 0;
    font-size: 2.4rem;
  }
  div {
    display: flex;
    gap: 20px;
    button {
      border: none;
      background: transparent;
      color: rgb(236, 228, 228);
    }
    button:disabled {
      color: rgb(2, 2, 2);
    }
  }
}
.params {
  display: flex;
  flex-direction: column;
}
.right {
  display: flex;
  flex-direction: column;
}
.box {
  border: 2px solid rgb(254, 9, 9);
  padding: 10px;
}
.active-link {
  color: red;
}
.link {
  color: blue;
}
